<%- include("partials/header") -%>

<h1>Compose</h1>
<form>
  <div class="form-group">
    <label ><strong>Title</strong></label>
    <input type="text" name="postTitle" class="form-control" >
  </div>
  <div class="form-group">
    <label ><strong>Post</strong></label>
    <textarea class="form-control" name="postBody" rows="3"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include("partials/footer") -%>